.aside {
  max-width: 392px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.wrapper {
  display: none;
  margin-bottom: 8px;
}

.blockWrapper {
  background-color: #fff;
  box-shadow: 0px 4px 10px 0px #6a63761a;
  padding: 24px;
  border-radius: 24px;
}

.filtersWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.blockInner {
  display: flex;
  flex-direction: column;
  /* gap: 24px; */
}

.author {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
}

.authorColor {
  color: #6a0bff;
}

.border {
  border: 1px solid #6a0bff;
}

@media (max-width: 768px) {
  .filters {
    width: 100%;
    max-width: 300px;
    display: none;
    position: absolute;
    top: -22px;
    right: 0;
    padding: 24px;
    border-radius: 0;
    box-shadow: 0px 4px 10px 0px #6a63761a;
  }

  .aside {
    max-width: 708px;
  }

  .blockInner {
    width: 100%;
  }

  .active {
    display: flex;
  }

  .asideCloseButton:hover {
    cursor: pointer;
  }

  .visible {
    display: flex;
  }

  .wrapper {
    display: flex;
    justify-content: right;
  }
}

@media (max-width: 360px) {
  .aside {
    width: 100%;
    max-width: 360px;
  }

  .filters {
    max-width: 360px;
  }
}
