.aside {
  max-width: 392px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 24px;
  border-radius: 24px;
  background-color: #fff;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.wrapper {
  display: none;
  /* margin-bottom: 8px; */
}

.variants {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 8px;
}

.asideCloseButton {
  height: 20px;
}

@media (max-width: 768px) {
  .aside {
    max-width: 328px;
    display: none;
    position: absolute;
    top: -22px;
    right: 0;
    border-radius: 0;
    box-shadow: 0px 4px 10px 0px #6a63761a;
  }

  .asideCloseButton:hover {
    cursor: pointer;
  }

  .visible {
    display: flex;
  }

  .wrapper {
    display: flex;
    justify-content: right;
  }
}

@media (max-width: 360px) {
  .aside {
    max-width: 360px;
    padding: 20px 10px;
  }
}
