.header {
  width: 100%;
  background-color: #fff;
  padding: 8px 0;
  margin-bottom: 40px;
}

.wrapperHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding: 8px 112px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.prepareButton {
  display: none;
  width: 130px;
  text-align: left;
}

.prepareButton::after {
  content: '';
  display: flex;
  width: 16px;
  height: 8px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  background-image: url(/public/Vector.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

button {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  background-color: transparent;
}

.buttons {
  display: flex;
  gap: 20px;
}

.burgerMenu {
  display: none;
}

.enterButton {
  color: #6a0bff;
}

.signUpButton {
  background: #6a0bff;
  color: #fff;
  padding: 11px 28px;
  border-radius: 12px;
}

.enterButton:hover,
.signUpButton:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .header {
    margin-bottom: 24px;
  }
  .wrapperHeader {
    padding: 15px 30px;
  }
  .buttons {
    display: none;
  }

  .burgerMenu {
    display: flex;
  }

  .burgerMenu:hover {
    cursor: pointer;
  }

  .navListWrapper {
    position: relative;
  }

  .prepareButton {
    display: flex;
  }

  .prepareButton:hover {
    cursor: pointer;
  }

  /* .prepareButton:hover + .navList {
    display: flex;
  } */
}
