.main {
  width: 100%;
}

.wrapperMain {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  justify-content: center;
  gap: 20px;
  margin-bottom: 130px;
}

.linkWrapper {
  display: flex;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 112px;
  position: relative;
  margin-bottom: 24px;
}

.link {
  padding-left: 24px;
  color: #6a0bff;
}

.link::before {
  content: '';
  position: absolute;
  display: flex;
  width: 8px;
  top: 50%;
  left: 112px;
  transform: translate(0, -50%);
  height: 14px;
  background-image: url('/public/arrowleft.svg');
}

@media (max-width: 768px) {
  .main {
    position: relative;
  }

  .wrapperMain {
    margin-bottom: 80px;
  }
}

@media (max-width: 360px) {
  .wrapperMain {
    margin-bottom: 40px;
  }
}
